name: Deploy a hosting compartido

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Deploy vía FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.3
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: ${{ secrets.FTP_PORT }}
          protocol: ftps
          local-dir: ./ # Carpeta local a subir
          server-dir: ./ # Carpeta destino en hosting

      - name: Validar existencia de manifest.json
        run: |
            if [ ! -f public/build/manifest.json ]; then
              echo "❌ ERROR: No se encontró public/build/manifest.json"
              exit 1
            else
              echo "✅ Se encontró public/build/manifest.json"
            fi