name: CI-CD ProAudit

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, bcmath, gd, zip, mysql, sqlite
        
    - name: Install Composer Dependencies
      run: composer install install --prefer-dist --no-ansi --no-interaction

    - name: Prepare Laravel
      run: |
        cp .env.example .env
        php artisan key:generate
        
    - name: Create SQLite Database
      run: |
        mkdir -p database
        touch database/database.sqlite

    - name: Run Tests
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test

